@charset "UTF-8";
/* CSS Document */
body{
	background-image:url('images/brain.jpg');
	background-repeat:no-repeat;
	background-color:white;
	color:#005500;
	font-family:"Arial Black", Gadget, sans-serif;
	
}

#head{
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:500px;
	text-shadow: #cccccc 0.1em 0.1em 0.2em;

	
	
}


#content{
	position:relative;
	margin-right:auto;
	margin-left:auto;
	width:500px;


	
	
	
}

.btn{
	background-color:#005500;
	color:white;
	font-family:"Arial Black", Gadget, sans-serif;
	
}