@charset "UTF-8";
/* CSS Document */
body{
	font-family:"Arial Black", Gadget, sans-serif;
	color:white;
	
}

#container{
	margin: 10px auto 0px auto;
	width:600px;
	height:700px;
	
}
	
#header{
margin-right:auto;
margin-left:auto;
width:535px;
	
}

.floatRight{
	float:right;
}

#twitter{
	position:relative;
	height:300px;
	width:251px;
	left:650px;
	top:-1160px;
	z-index:70;
	text-align:center;
	
}
.blogroll{
	position:relative;
	width:250px;
	left:650px;
	top:-1265px;
	z-index:60;
	text-align:center;
	
	
	
}


.blogroll a{
	text-decoration:none;
	border-width:none;
	
	
}
.blogroll a:hover{
	opacity:.65;
	
}

.socialmedia{
	position:relative;
	top:-1550px;
	left:650px;
	height:200px;
	width:250px;
	text-align:center;
	z-index:70;
	
}
.socialmedia a{
	text-decoration:none;
	border-width:none;
	
	
}

.socialmedia a:hover{
	opacity:.65;
	
}
#content{
	position:relative;
	margin-top:0px;
	padding:145px 15px 15px 15px;
	background-color:#999999;
	width:550px;
	height:900px;
	overflow:visible;
	z-index:90;
	font-size:1em;
	text-align:justify;
	
}

#content a{
		color: #ff3300;
		text-decoration:underline;
	
	
}
#content a:visited{
		color: #ff3300;
		text-decoration:underline;
	
	
}
#content a:hover{
	color:black;
	text-decoration:none;
	
	
}
#content li{
	margin:25px;
	}
	
#content ul{
	padding:-5px;}
.blacktext{
	color:black;
text-align:center;
letter-spacing:5px;
}
.borderRectangle{
	position:relative;
	background:black;
	height:100px;
	width:620px;
	top:52px;
	left:-20px;
	float:left;
	-moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
  -khtml-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
  -webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
  z-index:100;
  text-align:center;
	
	
}

hr{
	background:white;
	width:60%;
	height:3px;
	
}
.borderRectangle .titleWhite {
	position:inherit;
	font-size: 16px;
	color: #fff;
	text-shadow: 1px 1px 2px rgba(0,0,0,0.8);
}
.borderRectangle .titleRed {
	position:inherit;
	font-size: 16px;
	color: #ff3300;
	text-shadow: 1px 1px 2px rgba(0,0,0,0.8);
}
.borderTriangle1{
	position:relative;
	height:0px;
	width:0px;
	border-color:transparent #000000 transparent transparent;
	border-style:solid;
	border-width:15px;
	left:-29px;
	top:161px;
	z-index:20;
	
}
	
	
.borderTriangle2{
	position:relative;
	height:0px;
	width:0px;
	border-color:transparent transparent transparent #000000;
	border-style:solid;
	border-width:15px;
	top:130px;
	left:580px;
	z-index:20;
	
}

.nav{
	position:relative;
	top:-1076px;
	left:-350px;
	width:200px;
	z-index:10;
	text-align:left;
	
}
<!--Ribbons adapted from: http://www.pvmgarage.com/downloads/ribbon/ !>

.nav ul{
		list-style-type: none;
}
.nav ul li{
		list-style-type: none;
		width:500px;
		margin:10px 10px;
		padding: 5px 5px 5px 18px;
		letter-spacing:5px;		
		
	
}

.nav ul li.home{
	background:rgb(255,255,255);
}

.nav ul li.home:hover{
	background: rgb(249,68,47);
		}

.nav ul li.work{
	background:rgba(255,255,255,0);
}

.nav ul li.work:hover{
	background: rgb(249,68,47);

}
.nav ul li.calendar{
	background:rgba(255,255,255,0);
}

.nav ul li.calendar:hover{
	background: rgb(249,68,47);
}
		
.nav ul li.contact{
	background:rgb(255,255,255);
}

.nav ul li.contact:hover{
	background: rgb(249,68,47);

}
.nav a{
	text-decoration:none;
	color:black;
	
}
.nav a:visited{
	text-decoration:none;
	color:black;
	
}

a img{
	text-decoration:none;
	border:0 none;
	
}

#fb-root{
	position:relative;
	height:100px;
	width:250px;
	text-align:bottom;
	
}

