@charset "UTF-8";
/* CSS Document */

body{
	background-color:#333333;
	color:white;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:13px;
	margin: 0; 
	padding: 0;
}
#header{
	position:absolute;
	width:60px;
	height:320px;
	top:65px;
	left:50px;
	background-repeat:no-repeat;
	margin-left:auto;
	margin-right:auto;
	
	
}

#parent{
	width:900px;
	margin-left:auto;
	margin-right:auto;
	margin-top:75px;
	
}



#content{
	position:absolute;
	top:100px;
	left:350px;
	width:500px;
	height:700px;
}

#nav1 div
{	position: absolute;
	visibility: hidden;
	line-height:15px;
	text-align:center;
	border: none;
	
	}
	
#nav2 div
{	position: absolute;
	line-height:15px;
	visibility: hidden;
	line-height:15px;
	text-align:center;
	border: none;
	
	}
#nav3 div
{	position: absolute;
	visibility: hidden;
	line-height:15px;
	text-align:center;
	border: none;
	
	}	

a:link{
	font-family:Tahoma, Geneva, sans-serif;
	font-size:11px;
	color:black;
	text-decoration:none;
	border-width:0px;
	font-weight:bold;


}
a:visited{
	font-family:Tahoma, Geneva, sans-serif;
	font-size:11px;
	color:black;
	text-decoration:none;
	border:none;
	font-weight:bold;



}
a:hover{
	font-family:Tahoma, Geneva, sans-serif;
	font-size:11px;
	opacity:.5;
	color:black;
	text-decoration:none;
	border:none;
	font-weight:bold;



}
a img {
	 border: none; 
	 }

#navdd1{
	background-color:#ffff00;
	width:105px;
	
	
}

#navdd2{
	background-color:#ccff00;
	width:105px;
	
	
}

#navdd3{
	background-color:#33cc00;
	width:105px;
	
	
}
fieldset{
	background-color:#999999;
	
	
}
legend{
	font-weight:bold;
	font-family:"Arial Black", Gadget, sans-serif;
	font-size:2em;
	text-shadow: black 0.1em 0.1em 0.2em;
}
.small{
	font-family:"Arial Black", Gadget, sans-serif;
	font-size:1em;
}



#lightbox{	position: absolute;	left: 0; width: 100%; z-index: 100; text-align: center; line-height: 0;}
#lightbox img{ width: auto; height: auto;}
#lightbox a img{ border: none; }

#outerImageContainer{ position: relative; background-color: #fff; width: 250px; height: 250px; margin: 0 auto; }
#imageContainer{ padding: 10px; }

#loading{ position: absolute; top: 40%; left: 0%; height: 25%; width: 100%; text-align: center; line-height: 0; }
#hoverNav{ position: absolute; top: 0; left: 0; height: 100%; width: 100%; z-index: 10; }
#imageContainer>#hoverNav{ left: 0;}
#hoverNav a{ outline: none;}

#prevLink, #nextLink{ width: 49%; height: 100%; background-image: url(data:image/gif;base64,AAAA); /* Trick IE into showing hover */ display: block; }
#prevLink { left: 0; float: left;}
#nextLink { right: 0; float: right;}
#prevLink:hover, #prevLink:visited:hover { background: url(images/prevlabel.gif) left 15% no-repeat; }
#nextLink:hover, #nextLink:visited:hover { background: url(images/nextlabel.gif) right 15% no-repeat; }

#imageDataContainer{ font: 10px Verdana, Helvetica, sans-serif; background-color: #fff; margin: 0 auto; line-height: 1.4em; overflow: auto; width: 100%	; }

#imageData{	padding:0 10px; color: #666; }
#imageData #imageDetails{ width: 70%; float: left; text-align: left; }	
#imageData #caption{ font-weight: bold;	}
#imageData #numberDisplay{ display: block; clear: left; padding-bottom: 1.0em;	}			
#imageData #bottomNavClose{ width: 66px; float: right;  padding-bottom: 0.7em; outline: none;}	 	

#overlay{ position: absolute; top: 0; left: 0; z-index: 90; width: 100%; height: 500px; background-color: #000; }
